extends layout

block content
#wrapper
  // Navigation
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html') Roommates
    // Top Menu Items
    ul.nav.navbar-right.top-nav
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-user
          | John Smith
          b.caret
        ul.dropdown-menu
          li
            a(href='#')
              i.fa.fa-fw.fa-user
              | Profile
          li
            a(href='#')
              i.fa.fa-fw.fa-envelope
              | Inbox
          li
            a(href='#')
              i.fa.fa-fw.fa-gear
              | Settings
          li.divider
          li
            a(href='#')
              i.fa.fa-fw.fa-power-off
              | Log Out
    // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.side-nav
        li
          a(href='index.html')
            i.fa.fa-fw.fa-dashboard
            | Main
        li.active
          a(href='charts.html')
            i.fa.fa-fw.fa-bar-chart-o
            | Expenses
        li
          a(href='tables.html')
            i.fa.fa-fw.fa-table
            | Calendar
        li
          a(href='forms.html')
            i.fa.fa-fw.fa-edit
            | List
        li
          a(href='bootstrap-elements.html')
            i.fa.fa-fw.fa-desktop
            | Bootstrap Elements
        li
          a(href='bootstrap-grid.html')
            i.fa.fa-fw.fa-wrench
            | Bootstrap Grid
        li
          a(href='javascript:;', data-toggle='collapse', data-target='#demo')
            i.fa.fa-fw.fa-arrows-v
            | Dropdown
            i.fa.fa-fw.fa-caret-down
          ul#demo.collapse
            li
              a(href='#') Dropdown Item
            li
              a(href='#') Dropdown Item
        li
          a(href='blank-page.html')
            i.fa.fa-fw.fa-file
            | Blank Page
    // /.navbar-collapse
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Expenses
          p.lead     Do not forget to pay all your expenses on time! 
          .col-sm-4(style='padding-left:90%')
            .panel.panel-info
              .panel-heading
                h3.panel-title Total Balance
              .panel-body
                | $90
      // /.row
      p
      p
      .row
        .col-lg-13
          .table-responsive
            table.table.table-bordered.table-hover.table-striped
              thead
                tr
                  th Name
                  th Type
                  th Balance
                  th Date
                  th Taget
              tbody
                tr.success
                  td Electricity
                  td Utility
                  td $321.33
                  td Oct 13
                  td James
                tr.warning
                  td Drain Liquid
                  td Other
                  td $234.12
                  td Sept 1
                  td Smith
                tr.danger
                  td In-n-Out Burger
                  td Food
                  td $210.12
                  td Aug 20
                  td Eva
                tr.success
                  td Internet
                  td Utility
                  td $23.12
                  td Aug 11
                  td Will
                tr.success
                  td Rent
                  td Utility
                  td $132.12
                  td July 1
                  td Dori
                tr.danger
                  td Gypsy Pasta
                  td Food
                  td $234.12
                  td June 30
                  td Koun
                tr.warning
                  td Tissue
                  td Other
                  td $93.2
                  td June 27
                  td Gustav
      // /.row
      // /.row
    // /.container-fluid
  // /#page-wrapper
// /#wrapper
// jQuery Version 1.11.0
script(src='js/jquery-1.11.0.js')
