doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/css/sb-admin.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/css/plugins/morris.css')	
  body
    block content